on: [push, pull_request]

name: Continuous Integration

jobs:
  grammar-tests:
    name: Grammar Tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./tree-sitter-p4
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v4
      - uses: tree-sitter/setup-action@v2
        with:
          install-cli: true
      - uses: tree-sitter/parser-test-action@v3
      - working-directory: ./tree-sitter-p4
        shell: sh
        run: pwd && ls
