on: [push, pull_request]

name: Continuous Integration

jobs:
  treesitter-pre:
    uses: ./.github/workflows/treesitter.yaml
  grammar-tests:
    name: Grammar Tests
    runs-on: ubuntu-latest
    needs: treesitter-pre
    steps:
      - uses: actions/checkout@v2
      # Because our tree-sitter code is in a subdirectory,
      # and working-directory does not apply to uses, we
      # are forced to specify calls to the CI ourselves.
      # See https://github.com/orgs/community/discussions/25742
      - run: tree-sitter test
        working-directory: ./tree-sitter-p4
